.invited-by {
    position      : absolute;
    font-size     : 14px;
    font-weight   : bold;
    padding       : 2px 8px;
    border-radius : 3px;
    margin-top    : 2px;
    margin-left   : 2px;
}
.blink {
    -webkit-animation-name            : blinker;
    -webkit-animation-duration        : 1.5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -moz-animation-name               : blinker;
    -moz-animation-duration           : 1.5s;
    -moz-animation-timing-function    : linear;
    -moz-animation-iteration-count    : infinite;
    animation-name                    : blinker;
    animation-duration                : 1.5s;
    animation-timing-function         : linear;
    animation-iteration-count         : infinite;
}

@-moz-keyframes blinker {
    0% { color : #333333; }
    50% { color : #ff0000; background : #ddd; }
    100% { color : #333333; }
}

@-webkit-keyframes blinker {
    0% { color : #333333; }
    50% { color : #ff0000; background : #ddd; }
    100% { color : #333333; }
}

@keyframes blinker {
    0% { color : #333333; }
    50% { color : #ff0000; background : #ddd; }
    100% { color : #333333; }
}