#adChart {
    width     : 100%;
    height    : 450px;
    font-size : 11px;
}

.amcharts-graph-graph2 .amcharts-graph-stroke {
    stroke-dasharray  : 4px 5px;
    stroke-linejoin   : round;
    stroke-linecap    : round;
    -webkit-animation : am-moving-dashes 1s linear infinite;
    animation         : am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset : -28px;
    }
}
@keyframes am-moving-dashes {
    100% {
        stroke-dashoffset : -28px;
    }
}